.formContainer {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.input {
  width: 100% !important;
  height: 48px !important;
  border-radius: 8px;
  font-size: 16px;
  color: #5C88C9;
  padding: 12px 18px;
  box-sizing: border-box;
}

.input::placeholder {
  color: #5C88C9;
  opacity: 1;
}

.buttonRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.info {
  width: 100%;
  margin: 8px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  word-wrap: break-word;
  word-break: break-word;
}

.loginButton {
  width: 100% !important;
  max-width: 180px !important;
  height: 48px !important;
  border-radius: 8px !important;
  border: none !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.35s cubic-bezier(0.4,0,0.2,1);
  opacity: 1 !important;
  box-shadow: none !important;
}

.loginButton:hover {
  background: #466F22 !important;
  box-shadow: none !important;
}

.formContainer :global(.ant-form-item) {
  width: 100%; 
  margin-bottom: 0 !important; 
}

.formContainer :global(.ant-form-item-control-input-content) {
  width: 100% !important; 
}

.formContainer :global(.ant-form-item-label) {
  width: 100%;
  text-align: center;
}

.formContainer :global(.ant-form-item-explain-error) {
  width: 100%;
  text-align: center;
}

@media (max-width: 500px) {
  .formContainer {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }

  
  .formContainer :global(.ant-form-item) {
    width: 100% !important;
  }

  .input, .buttonRow {
    width: 100% !important;
    max-width: 467px;
  }
  
  .input {
    height: 50px !important;
    font-size: 16px;
    padding: 12px 20px;
  }

  .buttonRow {
    justify-content: center;
  }
  
  .info {
    width: 100%;
    max-width: 459px;
    font-size: 14px;
    height: auto;
  }

  .loginButton {
    width: 100% !important;
    max-width: 200px !important;
    height: 50px !important;
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .input {
    font-size: 15px;
    padding: 10px 15px;
    height: 45px !important;
  }
  .loginButton {
    font-size: 16px;
    height: 45px !important;
    max-width: 180px !important;
  }
  .info {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 150px;
  }
}

@media (max-width: 380px) {
  .logo {
    max-width: 120px;
  }
}