.formContainer {
  width: 467px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.input {
  width: 467px;
  height: 64px;
  border-radius: 10px;
  border: none;
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #5C88C9;
  padding: 20px 31px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.input::placeholder {
  color: #5C88C9;
  opacity: 1;
}

.buttonRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  padding-left: 491px;
    
}

.info {
  width: 459px;
  max-width: 90vw;
  height: 26px;
  margin: 12px auto 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #FFFFFF;
  text-align: center;
}

.loginButton {
  width: 222px;
  height: 64px;
  background: #568E2B;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.loginButton:hover {
  background: #6aaa38;
}